@import "bourbon";
@import "neat";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Droid Sans Mono', ;
  text-decoration: none;
}
// dark blue #0F1A29
// medium blue #1A3551
// light blue #335C76

body {
    background-color: #D8E5EE;
}
.all {
    @include outer-container(1000px);
    margin-top: 3em;
    background-color: #335C76;
    border: 4px solid #1A3551;
    padding: 1em;
}
.start-screen {
    text-align: center;
}
.start-screen h1 {
    color: white;
}
.start-screen img {
    height: 200px;
    padding-top: 2em;
}
.start {
    padding-top: 2em;
    color: white;
}
.start button {
    background-color: white;
    border: 2px solid #1A3551;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2em;
}
.start a {
    color: black;
}

// LOGIN && SIGNUP

.screen {
    color: white;
    text-align: center;
}
// .login-screen, .signup-screen img {
//     height: 100px;
// }
.screen, .all {
    padding-bottom: 3em;
}
.screen img {
    height: 150px;
}
.screen input {
    border: 1px solid #1A3551;
}
.screen button {
    background-color: white;
    border: 2px solid #1A3551;
    font-size: 16px;
    font-weight: bold;
}

// LEVELS
.levels {
    text-align: center;
    color: white;
}
.levels img {
    height: 150px;
    text-align: center;
}
.levels button {
    background-color: white;
    border: 2px solid #1A3551;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 3em;
}
.levels a {
    color: black;
    text-decoration: none;
}
.show-levels a {
    color: white;
}

// LEVEL ONE

.links {
    text-align: right;
    color: white;
}
.links a {
    text-decoration: none;
}
.mainpage:hover {
    color: #0F1A29;
}
.logout:hover {
    color: #0F1A29;
}
.mainpage {
    color: white;
}
.logout {
    display: block;
    color: white;
}
.level-one {
    text-align: center;
    color: white;
}
.editor {
    text-align: left;
    width: 800px;
    margin: auto;
    padding-top: 1em;
}
.submit {
    margin-top: 1em;
}
.level-one button {
    font-weight: bold;
    border: 2px solid #1A3551;
    background-color: white;
    font-size: 12px;
}
.cat {
    margin-top: 2em;
    padding-left: 5em;
    display: inline-block;
    position: relative;
}
.cat img {
    height: 150px;
}
.bird {
    position: absolute;
    bottom: -140px;
    left: 600px;
}
.bird img {
    height: 100px;
    margin-left: 26em;
}
.four-step img {
    margin-left: 18em;
}
.code {
    color: yellow;
    font-weight: bold;
}

// Harold, Francis, George




