<div class="levels">
    <div class="all">
        <h1>Cat Code</h1>
        <img src="bird2.png" alt="bird2">
        <div class="show-levels">
            <h2>{{#link-to 'level-one'}}Level 1{{/link-to}}</h2>
            <h2>Level 2</h2>
            <h2>Level 3</h2>
        </div>
        <button>{{#link-to 'index'}}Back to Main Screen{{/link-to}}</button>
    </div>
</div>

{{outlet}}
