<div class="levels">
    <div class="all">
        <h1>Cat Code</h1>
        <img src="bird2.png" alt="bird2">
        <div class="show-levels">
            <h2>{{#link-to 'level-one'}}Level 1{{/link-to}}</h2>
            <h2>{{#link-to 'level-two'}}Level 2{{/link-to}}</h2>
            <h2>{{#link-to 'level-three'}}Level 3{{/link-to}}</h2>
        </div>
        <button>{{#link-to 'index'}}Back to Main Screen{{/link-to}}</button>

        <button {{ action 'invalidateSession' }}>Log Out</button>
    </div>
</div>

{{outlet}}
