<div class="start-screen">
    <div class="all">
        <h1>Cat Code</h1>
        <img src="catsit.png" alt="cat sit">
        <div class="start">
            <button>{{#link-to 'login'}}Log In{{/link-to}}</button> OR
            <button>{{#link-to 'signup'}}Sign Up{{/link-to}}</button>
        </div>
    </div>
</div>

{{outlet}}
