<div class="level-one">
    <h1>Level One.</h1>
    <div class="instruction">
        Instructions go here.
    </div>
    <div class="editor">
        {{ivy-codemirror value=myCode theme="rubyblue" lineNumbers=true mode="javascript"}}
    </div>
    <div class="submit"><button>Submit</button></div>
</div>

(test code)

{{outlet}}
