<div class="screen">
    <div class="all">
        <h1>Log In</h1>
        <img src="bird3.png" alt="bird3">

        <form class="container" {{action 'login' email password on='submit'}}>
          <div class="">
            <fieldset>
              <legend>Login</legend>

              {{input controlType="text" label="email" placeholder="E-Mail" value=email}}

              {{input controlType="password" label="Password" placeholder="Password" value=password}}

              <input class="btn btn-primary" type="submit" value="Login">
            </fieldset>
          </div>
        </form>

    </div>
</div>

{{outlet}}
