<div class="screen">
    <div class="all">
        <h1>Log In</h1>
        <img src="bird3.png" alt="bird3">
        <form {{action 'save' model on='submit'}}>
            User Name:<br>
            {{input id="username" type="text" value=model.username}}<br><br>
            Password:<br>
            {{input id="password" type="password" value=model.password}}<br><br>
            <button class="submit">Log In</button>
        </form>
    </div>
</div>

{{outlet}}
