<div class="login-screen">
    <div class="all">
        <h1>Log In</h1>
        <p>Instructions go here!</p>
        <img src="bird3.png" alt="bird3">
        <form {{action 'save' model on='submit'}}>
            User Name:<br>
            <input type="text"><br><br>
            Password:<br>
            <input type="text"><br><br>
            <button class="submit">Log In</button>
        </form>
    </div>
</div>

{{outlet}}
