<div class="end">
    <div class="all">
        <h1>You Win!</h1>
        <img src="catwalk4.png" alt="cat4">
        <div class="endb">
            <button class="endb2">{{#link-to 'index'}}Back to Main Screen{{/link-to}}</button>
        </div>
    </div>
</div>

{{outlet}}
